databases:
  - name: my_budget
    databaseName: my_budget_dxfr
    user: my_budget_dxfr_user

services:
  - type: web
    name: budget
    env: ruby
    buildCommand: "./bin/render-build.sh"
    startCommand: "bundle exec puma -C config/puma.rb"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: my_budget
          property: connectionString
      - key: RAILS_MASTER_KEY
        sync: false